<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>class3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Sor1</servlet-name>
  	<servlet-class>Sor1</servlet-class>
  	<init-param>
  	<param-name>name1</param-name>
  	<param-value>Arnab</param-value>
  	</init-param>
  </servlet>
  
  
  <servlet>
  	<servlet-name>SWer2</servlet-name>
  	<servlet-class>ser2</servlet-class>
  	<init-param>
  	<param-name>name</param-name>
  	<param-value>vernab</param-value>
  	</init-param>
  	
  </servlet>
  
  
  <context-param>
	<param-name>name</param-name>
	<param-value>Rishikesh</param-value>
  </context-param>
  <context-param>
	<param-name>language</param-name>
	<param-value>java</param-value>
  </context-param>

  
</web-app>
